{% extends "layout.html" %}
{% block body %}



                {% if not fileName== '' %}

                        <h2>{{ fileName }}</h2>
                        <div id="scrolldiv1">{{ data|safe }}</div>
                    {% else %}
                        <h1>File Upload</h1>
                            <form action="{{ url_for('upload_files') }}" class="dropzone">
                            </form>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
                {% endif %}


{% endblock %}
